$input-text-color: #a3a3a3;

.search-box {
  width: 360px;
  background: #fff;
  color: $input-text-color;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
  margin: 20px 20px 40px;
}
